/*
File: restaurant_styles.css
Author: Song Yu Chen (songyu@bu.edu) 9/17/2025
Description: CSS styling for the restaurants app.
*/

:root {
  --brand-red: #e41b17;
  --dark: #222;
  --light-gray: #f9f9f9;
}

main {
    padding: 30px;
}

main img {
    width: 50%;
    border-radius: 8px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
  color: var(--dark);
  text-align: center; 
}

header {
  background: var(--brand-red);
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 45
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
  text-transform: uppercase;
}

/* navigation bar*/
nav a{
    padding: auto;
    list-style-type: none;
    list-style: none;
    align-items: right;
    display: inline-block;
    margin-right: 15px;
    color: white;    
}

li, ul {
    padding: 5px;
    list-style-type: none;
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
  background: #343a40;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.navbar a:hover {
  text-decoration: underline;
}

/* table */
table {
  margin: 2rem auto;         
  border-collapse: collapse; 
  width: 40%;               
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;        
}

/* footer */
footer {
  text-align: center;
  padding: 1rem;
  background: #ff0000;
  color: #fff;
  margin-top: 2rem;
}