<!-- 
File: base.html
Author: Song Yu Chen (songyu@bu.edu) 11/25/2025
Description: The base HTML for the project app.
-->
{% load static %}
<html> 
    <head>
        <title>Market</title>
        <link rel="stylesheet" href="{% static 'project_styles.css' %}">
    </head>

    <body>

        <header>Market</header>
        <nav class="navbar">
            <li><a href="{% url 'show_products' %}">Marketplace</a></li>
            <li><a href="{% url 'show_accounts' %}">Users</a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'my_account' %}">My Account</a></li>
                <li><a href="{% url 'my_products' %}">My Products</a></li>
                <li><a href="{% url 'my_favorites' %}">My Favorites</a></li>
                <li><a href="{% url 'my_bids' %}">My Bids</a></li>
                <li><a href="{% url 'my_orders' %}">My Orders</a></li>

                <li><a href="{% url 'create_product' %}">+ Create Listing</a></li>
                Logged in as: {{request.user}}
                
                <form method="post" action="{% url 'logout' %}" >
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link" >
                        Logout
                    </button>
                </form>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </nav>
        <!-- specific content-->
        <div class= "container">
            {% block content %}
            {% endblock %}
         </div>
    <footer>
        This page was created by songyu@bu.edu
    </footer>
    
    </body>


</html> 