<!-- 
File: show_accounts.html
Author: Song Yu Chen (songyu@bu.edu) 11/25/2025
Description: HTML that extends the base HTML for the show_accounts page of the project app.
-->
{% extends 'project/base.html' %}

{% block content %}
<h1>All Accounts</h1>

  {% for account in accounts %}
    <div class="card user-card">
        <a href="{% url 'show_account' account.pk %}">
            {% if account.profile_picture %}
                <img src="{{ account.profile_picture.url }}" class="avatar">
            {% endif %}

            <strong>{{ account.username }}</strong>
        </a>
    </div>
  {% empty %}
    <p>No accounts created.</p>
  {% endfor %}

{% endblock %}