<!-- 
File: create_account_form.html
Author: Song Yu Chen (songyu@bu.edu) 12/04/2025
Description: HTML that extends the base HTML for the show product page of the project app.
-->
{% extends "project/base.html" %}
{% block content %}

<div class="product-detail">

    <div class="image-gallery">
    {% if product.image %}
        <img src="{{product.image.url}}" class="product-thumb">
    {% endif %}
    {% for img in product.images.all %}
        <img src="{{ img.image.url }}" class="product-image">
    {% endfor %}
    </div>
    <h2>{{ product.name }}</h2>

    <p><strong>Price:</strong> ${{ product.expected_price }}</p>
    <p><strong>Status:</strong> {{ product.status }}</p>
    <p><strong>Rating:</strong> {{ product.rating }}</p>

    <p>{{ product.description }}</p>

    
    {% if highest_bid %}
        <p><strong> Current Highest Bid:</strong> ${{ highest_bid }}</p>
    {% else %}
        <p><strong> Current Highest Bid:</strong> No bids yet</p>
    {% endif %}

</div>
<h2>Merchat Information</h2>
{% with seller=product.profile %}
<div class="seller-info card">

    <a href="{% url 'show_account' seller.pk %}">
        {% if seller.profile_picture %}
            <img src="{{ seller.profile_picture.url }}" class="avatar">
        {% endif %}
        <span class="seller-name">{{ seller.username }}</span>
    </a>

</div>
{% endwith %}

{% if user.is_authenticated %}

    {% if is_favorited %}
        <form method="post" action="{% url 'delete_favorite' product.pk %}">
            {% csrf_token %}
            <button type="submit">Unfavorite</button>
        </form>
    {% else %}
        <form method="post" action="{% url 'create_favorite' product.pk %}">
            {% csrf_token %}
            <button type="submit">Favorite</button>
        </form>
    {% endif %}
    
    <!-- Hide bid button after deal is set-->

    {% if product.status == "available" %}
    <a href="{% url 'create_bid' product.pk %}" class="checkout-btn">
        Place a Bid
        </a>
    {% elif product.status == "pending" %}
        <p><strong> A deal has already been accepted for this item.</strong></p>
    {% elif product.status == "sold" %}
        <p><strong> This item has been sold.</strong></p>
    {% endif %}

{% endif %}

<!-- 
Ensure that the seller is the only one that can edit and delete. 
Can not edit or delete after product has been sold. 
-->
{% if request.user.is_authenticated and product.profile.user == request.user %}
    {% if product.status != "sold" %}
        <a href="{% url 'update_product' product.pk %}" class="btn">Update</a>
        <a href="{% url 'delete_product' product.pk %}" class="btn">Delete</a>
    {% else %}
        <p><strong>This listing has been sold and can no longer be edited.</strong></p>
    {% endif %}
{% endif %}


{% if is_seller %}
<h3>Bids</h3>
    <hr>
    <h3>All Bids on This Product</h3>

    {% for bid in bids %}
        <div class="bid-row">
            <p>
                <strong>Bidder:</strong>
                <a href="{% url 'show_account' bid.profile.pk %}">
                    {{ bid.profile.username }}
                </a>
            </p>

            <p><strong>Bid:</strong> ${{ bid.bid_price }}</p>
            <p><strong>Status:</strong> {{ bid.status }}</p>

            {% if bid.status != "accepted" %}
                <a href="{% url 'accept_bid' bid.pk %}" class="btn btn-success">
                    Accept This Bid
                </a>
            {% endif %}

            <hr>
        </div>
    {% empty %}
        <p>No bids yet.</p>
    {% endfor %}
{% endif %}

{% endblock %}
