.image-card {
  background: #fff;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 300px;
}