<!-- 
File: show_all.html
Author: Song Yu Chen (songyu@bu.edu) 9/8/2025
Description: HTML that extends the base HTML for the show_all page of the quotes app.
-->
{% extends 'quotes/base.html' %}

{% block content %}
<h1>All Quotes</h1>

  {% for quote in quotes_nietzsche %}
    <div class="quotes-list">
        <div class = "quote-card">
            {{ quote }}
        </div>
    </div>
  {% empty %}
    <p>No quotes available.</p>
  {% endfor %}

<h1>All Images</h1>
    {% for image in images_nietzsche %}
    <div class="images-grid">
        <div class="image-card">
            <img src={{image}}>
        </div>
    </div>
  {% empty %}
    <p>No images available.</p>
  {% endfor %}
{% endblock %}