<!-- 
File: base.html
Author: Song Yu Chen (songyu@bu.edu) 9/24/2025
Description: The base HTML for the mini_insta app.
-->
{% load static %}

<html>
    <head>
        <title> Mini Insta</title>
        <link rel="stylesheet" href="{% static 'mini_insta_styles.css' %}">
        
    </head>

    <body>
        <head>
            <h1> Mini Insta</h1>
            <nav>
                <ul>
                    <li><a href = "{% url 'random' %}"> Random </a></li>
                    <li><a href = "{% url 'show_all_profiles' %}"> Show All </a></li>
                    {% if profile %}
                        <li><a href="{% url 'show_feed' profile.pk %}"><i class="fa fa-home"></i> Home</li></a>
                        <li><a href="{% url 'search' profile.pk %}">Search</a></li>
                    {% endif %}
                </ul>
            </nav>
        </head>
        {% block content %}

        {% endblock %}
    </body>
    <nav>
        <ul>
            {% if profile %}
                <li><a href="{% url 'search' profile.pk %}">Search</a></li>
            {% endif %}
        </ul>
    </nav>
</html>