<!-- 
File: show_post.html
Author: Song Yu Chen (songyu@bu.edu) 10/1/2025
Description: HTML that extends the base HTML for the show post page of the mini_insta app.
-->
{% extends 'mini_insta/base.html' %}

{% block content %}
<h2>Post Detail</h2>

<div class="post-detail-container">
    <p>
        <a href="{% url 'show_profile' post.profile.pk %}"> Back to {{ post.profile.display_name }}'s Profile</a>
    </p>
    <p><strong>Likes:</strong> {{ post.get_num_likes }}</p>

    <p class="post-caption">{{ post.caption }}</p>
    <p class="post-timestamp">{{ post.timestamp }}</p>

    <div class="post-photos-container">
        {% for photo in post.get_all_photos %}
            <div class="post-photo">
                <img src= "{{ photo.get_image_url }}" alt="Post photo" class="post-image">
                <p class="photo-timestamp">{{ photo.timestamp }}</p>
            </div>
        {% empty %}
            <p>No photos for this post.</p>
        {% endfor %}
        
        <hr>
    
    </div>
    <h3>Comments:</h3>
    <ul class="post-comments">
        {% for comment in post.get_all_comments %}
            <li>
                <strong>{{ comment.profile.display_name }}</strong>: {{ comment.text }} <br>
                <small>{{ comment.timestamp }}</small>
            </li>
        {% empty %}
            <li>No comments yet.</li>
        {% endfor %}
    </ul>
    <div>
        <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">Delete</a>
         <a href="{% url 'update_post' post.pk %}" class="btn btn-primary">Update</a>
    </div>

</div>
{% endblock %}
