<!-- 
File: update_profile_form.html
Author: Song Yu Chen (songyu@bu.edu) 10/08/2025
Description: HTML that extends the base HTML for the update profile page of the mini_insta app.
-->
{% extends 'mini_insta/base.html' %}

{% block content %}
<div class="create-post-container">
    <h2>Profile Update</h2>

    <form method="POST" action = "{% url 'update_profile' profile.pk %}">
        {% csrf_token %}
        
        <!-- Form fields -->
        <div class="form-fields">
            {{ form.as_p }}
        </div>

        <!-- Buttons -->
        <div class="form-buttons">
            <input type="submit" value="Submit" class="submit-button">
            <a href="{% url 'show_profile' pk=profile.pk %}" class="cancel-button">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}