<!-- 
File: update_post_form.html
Author: Song Yu Chen (songyu@bu.edu) 10/08/2025
Description: HTML that extends the base HTML for the update post page of the mini_insta app.
-->
{% extends 'mini_insta/base.html' %}

{% block content %}
  <h2>Update Post</h2>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update">
  </form>

  <form method="GET" action="{% url 'show_post' pk=post.pk %}">
    <button type="submit">Cancel</button>
  </form>
{% endblock %}